[2019-06-20 10:13] KKPMW opened #1 "About tidyverse being easier to teach and learn."
Hello, nice write-up.

I am also a bit of a skeptic when it comes to the tidyverse but just wanted to offer an opinion about why people say that learning tidyverse is easier.

Basically from what I saw when introducing people to R is that a lot of resources aimed at beginners are tidyverse-specific. Most of the tutorials online, most of the videos on sites like youtube, and most of new or popular

[2019-07-08 16:53] scrane-amplify opened #5 "Revise summary point 7 for accuracy"
Summary point 7 reads, "For instance, Hadley's book, R for Data Science, with Garrett Grolemund, does not mention data.table."

`data.table` is mentioned in two sections:

[1.3 Introduction](https://r4ds.had.co.nz/introduction.html#what-you-wont-learn)

[1.2 Data Import](https://r4ds.had.co.nz/data-import.html#compared-to-base-r)

[2019-07-09 02:50] Qata opened #6 "Functional programming misconception and unsourced conjecture"
https://github.com/matloff/TidyverseSkeptic/blob/master/README.md#tidyverse-makes-learning-harder-not-easier

In this section you've written

While it's true that the majority universities have dropped teaching functional languages (chiefly Haskell and various MLs) as an introduction to programming, the given reasons for doing so are varied from "the industry is using Java/C++" all the way to "the

[2019-07-09 09:52] Enchufa2 opened #7 "About ggplot2 and tidy data"
Just one comment about these statements about `ggplot2`:

I don't think it's thematically unrelated, I do think it follows the philosophy. First of all, `ggplot2` was designed to receive the input in (Hadley's) tidy form, even before it was called _tidy_. I believe this fact shaped the idea of _tidy data_, which culminated in Hadley's _Tidy Data_ paper (JSS 2014), and that was in fact the seed for

[2019-07-09 14:30] nicholasjhorton commented on #7
ggplot2 is an elegant system for professional graphics.  But it has a number of features that are at odds with the overall tidyverse philosophy (and Hadley has publicly acknowledged these).  I'd suggest noting that ggplot2 takes tidy data as input (though lattice and base graphics do as well).

[2019-07-10 08:09] matloff commented on #7
If one takes the definition of "tidy" to mean "row/colum" data frames, then 99% of R is "tidy." The term then becomes meaningless. The ggplot2 package is no more "tidy" than is lm().

[2019-07-10 08:11] matloff commented on #6
I actually did have a reference, which I tweeted. No time to look for it now, maybe later.

[2019-07-10 08:12] matloff commented on #5
Thanks, didn't see it in the index, should have put it that way.

[2019-07-10 08:19] matloff commented on #1
I have a tutorial, fasteR, available, https://tinyurl.com/y48bcfxv. I would claim it gets the beginner to useful R quite quickly, using just base-R. But of course your point is correct.

[2019-07-10 08:57] Enchufa2 commented on #7
I find myself constantly tidying and untidying data from modelling to visualisation and back to modelling again, because many modelling functions need all the features in columns (the model matrix), but ggplot2 needs many of them folded in long format, in order to be assigned to a layer. That's especially true for factors. The `lm` interface is pretty tidy in that sense, yes, but many are not.

[2019-07-10 09:31] matloff commented on #7
Thanks! Norm

On Wed, Jul 10, 2019, 10:57 AM Iñaki Ucar <notifications@github.com> wrote:

[2019-07-11 17:50] nacnudus commented on #6
This [tweet](https://twitter.com/matloff/status/1141243442808287233) of this [2004 paper](https://www.cambridge.org/core/journals/journal-of-functional-programming/article/risks-and-benefits-of-teaching-purely-functional-programming-in-first-year/39F929A1793B67BCEF316DBDB717F273)?

[2019-07-11 21:12] matloff commented on #6
Thanks! I don't how you even found my tweet, as I looked myself and couldn't find it. Maybe I don't know Twitter well enough.

I'll add the reference to my essay, and quote from the abstract. I'll also see if I can get the paper itself, to see the details, the pros and cons they have found.

One point I was going to put in the essay but decided not to, for the sake of brevity, is that if one consi

[2019-07-11 22:29] matloff commented on #6
Found the paper and updated my essay accordingly. Thanks for the comments.

[2019-07-11 22:31] matloff commented on #5
Fixed.

[2019-07-12 15:40] ljanda opened #9 "inaccurate discussion of dplyr"
You write that dplyr "consists of 263 functions." Though you do state that "a user initially need not use more than a small fraction of them" you then say "the high complexity is clear". This is not an accurate or responsible discussion. Dplyr has six core functions - mutate, select, filter, summarise, arrange, and group_by - that are by far most commonly needed. You then state "every time a user

[2019-07-12 15:55] ljanda opened #10 "simplistic example of base R v. dplyr"
You write:

_The Tidyverse also makes heavy use of **magrittr** *pipes*, e.g. writing the function composition **h(g(f(x)))** as_

[code]
_Again, the pitch made is that this is "English," in this case reading left-to-right. But again, one might question just how valuable that is, and in any event, I personally tend to write such code left-to-right anyway, *without* using pipes:_

[code]

This simp

[2019-07-12 16:01] ljanda opened #11 "inaccurate dplyr code"
the third line of code is misleading as it is not needed for the following line to work

[code]

[2019-07-12 19:43] ljanda opened #12 "vague discussion of speed with dplyr v. data.table"
Your post often states that dplyr is slower than data.table and uses many qualifiers eg "much, much" slower but you do not clearly define what you mean by much slower or give clear information about when it is slower. You link out to a couple examples but this information should clearly be given within the post as this is a large part of your argument.

You do pull some numbers from the h20ai site

[2019-07-12 20:59] GmanB3398 opened #13 "Diversity Claim"
On your paragraph about diversity, I am not sure where this claim that people say that tidy is mainly for making it easier for women and minorities. This (strawman) argument seems incongruous with your evidence based approach you use in the rest of the essay. I would reconsider leaving this paragraph in, as it goes against the exact point you make in the next section.

[2019-07-13 21:14] matloff commented on #13
Actually, the claim that Tidy has brought large numbers of women and minorities to R
has come up many times in the last couple of weeks on Twitter. It has also been stated before by people affiliated with R-Ladies and, for that matter, connected to RStudio, both publicly and to me in private.

[2019-07-13 21:16] matloff commented on #12
I agree that the H2O presentation is incomplete. But there are various other analyses, and it is a generally known fact, that even RStudio concedes.

[2019-07-13 21:17] matloff commented on #10
You've never heard of tapply()?

[2019-07-13 21:19] matloff commented on #9
Sorry, I disagree, based on long experience teaching programming and even English.

[2019-07-14 08:23] DianeBeldame commented on #13
Unfortunately, anecdote is not data

[2019-07-14 09:41] matloff commented on #13
An essay is not a research paper.

[2019-07-14 10:24] DianeBeldame commented on #13
That's not an excuse for argumentum ad verecundiam

[2019-07-14 14:58] wbuchanan commented on #10
I haven’t heard of tapply() and also fail to see how it is a relevant response given that you don’t seem to use it in the example referenced above.  Maybe providing a counter example would prove to be more pedagogically useful rather than responding with a question about an obscure function?

[2019-07-14 15:02] wbuchanan commented on #5
@matloff
Just as an FYI, it is common practice to close an issue after it is fixed.  Aside from signaling the individual who submitted the issue that their concern has been addressed it also shows that you are responding and reconciling concerns reported to you.

[2019-07-14 15:41] ljanda commented on #10
The issue that you used a trivial example and did not represent piping well still holds. Instead of addressing the issue you're trying make me feel bad for not using a different approach. For what it's worth I used tapply before I had even heard of the tidyverse and I clearly stated that there are multiple solutions in base R.

Here is a link to many examples of base R and tidyverse code compariso

[2019-07-14 15:56] ljanda commented on #9
You did not address the main issue that you misrepresent dplyr and purrr. I don't want to veer into wild speculation, as your blog post does, but this description seems willfully off-base, especially since you cite a large number to presumably shock/scare readers rather than giving the actual details.

In reality, dplyr relies on six verbs and the teaching materials always start with those six ver

[2019-07-14 15:57] pmarchand1 commented on #13
That part of the R community was found to be more inclusive by many people, and that the tools were found to be easier to learn, doesn't imply what you're saying in the essay. Maybe the same people are making both pedagogical efforts and efforts at creating a more positive community at the same time.

[2019-07-14 16:01] DavidArenburg commented on #10
As I see this, @matloff was only addressing the extensive use of pipes rather comparing the whole tidyverse vs base R (in this particular example at least), while you provided a specific example which contains grouping operations- which I think that most of us will agree- is not base R strongest side.
This is (probably) one of the reasons data.table was created too. I think your concern about "sim

[2019-07-14 16:08] ljanda commented on #12
The issue that you are hand-waving and posting unclear tables and graphs still holds. The time differences are often negligible with the dataset sizes many people work with. Also, R has challenges with "big data" regardless of packages used (which is why people turn to parallel computing packages, spark with R, etc). It is irresponsible to cherry-pick, obscure information, and post numbers and gra

[2019-07-14 16:10] wbuchanan commented on #10
@DavidArenburg,
It would be useful to provide examples to support your case rather than speaking in generalities.  You claim that there are many examples where base R functions are much simpler than the dplyr idiom, but provide no examples of such cases or any description of what qualifies something as simpler from your perspective.  Essentially, you are picking convenient phrases with overly gene

[2019-07-14 16:15] ljanda commented on #10
@DavidArenburg my example doesn't just include grouping operations - it also has the kable and kableExtra styling to render a nice table, showing that you can pipe the content of the grouping into the table styling functions whereas without the pipes you have to stop and assign multiple times. My point was that @matloff used a trivial example rather than something more meaty that actually shows a

[2019-07-14 16:23] pmarchand1 commented on #12
Does the comparison rely on the column to be in first position?

[2019-07-14 17:38] nicholasjhorton commented on #5
There's been a lot of chatter on this repo in recent days (and hours) including a chunk of criticism.  Personally, I've appreciated how @matloff has created this resource and elicited community feedback.  I don't agree with all that he's written but I have found it thought provoking and helpful as I consider his points.

[2019-07-14 18:03] wbuchanan commented on #5
@nicholasjhorton,

My point was just to say that if the correction has been made it doesn’t help anyone to leave the issue open.  Marking the issue closed provides a clear signal that no further action needs to be taken on this particular topic and also signals that there is a desire to be responsive to requests made by others.

[2019-07-14 18:22] ljanda commented on #12
@pmarchand1 yes the first example (that @matloff cited and I pulled the code from does), in the code it is "col_1", link: https://github.com/WinVector/Examples/blob/master/dplyr/select_timing.Rmd

[2019-07-14 21:56] matloff commented on #13
GmanB3398, it wouldn't matter how footnotes, citations and so I would include in my essay. The RStudio loyalists wouldn't accept it. I've expressed my thoughts here, and that's it, no aspiration for proselytizing.

[2019-07-14 22:15] matloff commented on #12
See my earlier comment.

[2019-07-14 22:17] matloff commented on #11
Thanks, you may be looking at an old version, already corrected.

[2019-07-14 22:19] matloff commented on #10
@ljanda: Your point about debugging is exactly what I am saying: It's better to break things up as in my example.

[2019-07-14 22:27] matloff commented on #13
My point about tapply() was that the so-called "base-R solution" for "Summarise rows within groups" appears (sorry, only skimmed it) to be a typical tapply() situation, far simpler than the claimed "base-R solution" and certainly simpler and more obvious to code.

[2019-07-14 22:30] matloff commented on #5
I get your point, @wbuchanan, but on the other hand, a very prominent member of the R community was quite upset when I closed an issue here. One can't win. :-)

[2019-07-14 22:49] matloff commented on #9
Not sure what to say here. The "sifting through" a large number of functions actually represents what happened to me personally recently in a discussion about pipes. No matter what the function count is, in the end it's more than in base-R, where one need only know how [,] works. Hence my point about "teach a person to fish."

An essay by definition is one's own opinion, informed by one's own expe

[2019-07-15 06:27] DavidArenburg commented on #10
@ljanda I don't see anything special with making intermediate assigns. And I don't think pipes are really related to tidyverse anywhere. You can pipe base R and data.table too if you really want to. And neither I think (my own opinion) that pipes are bad and some times they are even useful, but after spending about 5 years seeing all kind of questions and answers on StackOverflow, I see that in ge

[2019-07-15 12:52] matloff commented on #10
@ljanda, thanks for the Tavares reference. The example is indeed one in which tapply is much clearer, more compact and more straightforward. I've added it to my essay.

[2019-07-15 14:12] ljanda commented on #9
How can you say that all you need to know with base R is how [,] works when you just told me I should be using tapply?

Of course an essay is opinion-based (this is why I have not opened any issues on your, imo, overblown opinions about the impact of the tidyverse on the future of R), but that does not give one carte blanche to misrepresent facts. At the end of the day, dplyr is six core functions

[2019-07-15 16:00] ljanda commented on #10
With debugging you are breaking things up regardless or whether you're running part of a pipe or parts of unpiped code

[2019-07-15 16:19] nacnudus commented on #11
@matloff the line is still there https://github.com/matloff/TidyverseSkeptic/blob/b354cc5c35bc8009037da5e6905d76d4693fe37b/README.md

[2019-07-15 16:30] nacnudus opened #14 "Reference does not state what is claimed in the text"
I can't find any such claim there.

[2019-07-15 17:00] matloff commented on #9
The comment on brackets pertained only to dplyr.

On Mon, Jul 15, 2019, 4:12 PM Ludmila Janda <notifications@github.com>
wrote:

[2019-07-15 17:35] nacnudus opened #15 "Example is not equivalent"
This is not equivalent in an important way: the table form is difficult to use in subsequent commands. For example, try filtering the table for the combination of `cyl` and `mpg` that has the highest mean `mpg`.

[2019-07-15 17:52] matloff commented on #10
Exactly! You have to revert to base-R to debug. Why not stay there? You'd
still get the "read left to right" benefit.

On Mon, Jul 15, 2019, 6:00 PM Ludmila Janda <notifications@github.com>
wrote:

[2019-07-15 17:53] ljanda commented on #10
You don't have to revert to base R, you can just run part of the pipe.

[2019-07-15 18:10] nacnudus commented on #15
Also it doesn't render the quoted output.

[code]

Your output seems to the be result of applying only `mean()` and not `sd()`.

[code]

[2019-07-15 18:27] wbuchanan commented on #10
@DavidArenburg
There definitely can be differences between pipes and multiple assignments.  The pipes are an abstraction layer for the syntax, while multiple assignment means consuming more memory on the system to store additional objects which may or may not be necessary to store (temporarily or otherwise).  I agree that the example you posted is completely ridiculous without a doubt.  However, I

[2019-07-15 18:58] ljanda commented on #10
@wbuchanan this is a great example and a really good point about multiple assignment consuming more memory
@DavidArenburg I agree the example you gave is not a great use of pipes and that they can be abused but the pipe is part of the magrittr package, which is technically part of the [tidyverse](https://magrittr.tidyverse.org/articles/magrittr.html)
![image](https://user-images.githubusercontent.

[2019-07-15 22:09] matloff commented on #15
If one assigns the result to z, then which.max(z) does work. However, it gives 7, saying the 7th element is the largest, which may not be so convenient. I assume there is a table helper function to deal with this, but I'm not deep enough into tables to say.

As to displaying only the means, that's of course why I wrote "E.g." One could do 3 with() calls, or use tapply() with a custom function.

[2019-07-15 22:16] matloff commented on #14
Meant to say "more compact code." Will fix, thanks.

[2019-07-15 22:23] nacnudus commented on #15
As to displaying only the means, my point is that
[code]
does not output
[code]

[2019-07-15 22:27] matloff commented on #15
Thanks!  Wrote this on my phone, traveling on a train.

Norm

On Mon, Jul 15, 2019 at 03:23:25PM -0700, Duncan Garmonsway wrote:

[2019-07-15 22:51] nacnudus commented on #14
Where does it say "compact", or anything similar?

[2019-07-16 06:35] DavidArenburg commented on #10
@ljanda magrittr wasn't originally part of tidyverse- it was basically contributed to it: https://github.com/tidyverse/magrittr/commit/cf2e33f946ba35ec81f1678e0f2712e521a1c4eb

Regarding your debugging strategy, it basically means that you need to rerun your whole code over and over after adding each line which will can be time/memory consuming.

[2019-07-16 07:00] DavidArenburg commented on #10
@wbuchanan I think in your example it is better to persist each step like your co-worker did instead of piping it up which would probably get an out of memory error.

Also, if you work with data.table, each merge would update the data in place and both save speed and memory and avoid piping.

Finally, if someone would pipe all these join and would like to pipe additional steps, he would need to ru

[2019-07-16 07:02] matloff commented on #14
Just added it last night, after the typo was pointed out.

On Mon, Jul 15, 2019 at 03:51:53PM -0700, Duncan Garmonsway wrote:

[2019-07-16 07:19] nacnudus commented on #14
I meant in the referenced web page, where does the web page claim that Tidy make for compact code?

[2019-07-16 07:48] matloff commented on #14
Seems implied, but I will check and change my boarding if needed.

On Tue, Jul 16, 2019, 9:20 AM Duncan Garmonsway <notifications@github.com>
wrote:

[2019-07-16 10:21] KKPMW commented on #10
Feels like this discussion is missing a few things...

First - even the example by @ljanda is quite simplistic and can be achieved with base in an easier way:

    # base
    result <- aggregate(price ~ cut, data=diamonds, FUN=function(x) round(summary(x)[-1], 2))
    result <- kable(result, format = "html", format.args = list(big.mark = ','),
                    col.names = c("Cut", "Q1", "Median

[2019-07-16 10:45] wbuchanan commented on #10
@KKPMW
Thanks for the alternate example.  The only problem I would see is overriding the value of ., but since R uses fairly different operators for method calls on objects it may not be terrible.

That said, there is still some potential overhead differences from reassigning values to the existing object in memory.  While I don’t agree with everything @DavidArenburg mentioned above, I do agree th

[2019-07-16 11:04] KKPMW commented on #10
@wbuchanan

Based on a few benchmarks I am getting that with small objects the `->.` assignment is a lot faster compared with pipe. And when the object size is large they converge to the same speed.

Small object:

    x <- 1:10
    microbenchmark(pipe={x %>% log %>% sqrt}, base={x ->.; log(.) ->.; sqrt(.)}, times=1000)

    Unit: nanoseconds
     expr   min      lq      mean  median    uq    max

[2019-07-16 11:16] DavidArenburg commented on #10
@KKPMW try benching with `bench::mark()` or `bench::press()` as it also tests memory allocation.

[2019-07-16 11:19] wbuchanan commented on #10
@KKPMW
I think it is just as easy to step through the code regardless of the convention being used, but definitely interesting to see the differences in performance.

[2019-07-16 11:38] KKPMW commented on #10
@DavidArenburg

Tried `bench::mark` and memory allocation only differed for very small objects (in favour of `->.`).

    # small object
    x <- rnorm(20)+100
    mark(pipe = {x %>% log %>% head(10) %>% sqrt},
         base = {x ->.; log(.) ->.; head(., 10) ->.; sqrt(.)},
         iterations=10)

    # A tibble: 2 x 13
      expression      min   median `itr/sec` mem_alloc `gc/sec` n_itr  n_gc

[2019-07-17 12:58] farcego opened #16 "easiness of tidyverse"
Dear Norman. This is a great post, expanded and discussed, much better than the twitterwars....

I think the point of being tidverse easier is fair, not for you. You are a CS professor and deal most of your time with CS students or CS pals. I think the big deal of TV and the use of English verbs is that is very easy for non CS, and for those that are not willing to became. Many people in the world

[2019-08-07 12:06] arne1921KF commented on #16
Biologist here, agreeing with most of the above.

Regarding transferability, my first practical contact with SQL-like syntax was withion the tidyverse - and I found this very much transferable.

Came to using tidyverse packages through ggplot2, which was hard to learn and broke my code with the change from opts() to themes, but in the end was very much faster and easier to read when I needed to ch

[2019-08-08 09:45] nacnudus commented on #6
@matloff did you mean to delete the reference in 89164ad3ca1ee46f5a2772c443ca17533f03450c?

[2019-08-16 17:38] matloff commented on #6
Which reference?

[2019-08-17 23:19] matloff commented on #6
Not sure how that disappeared. Fixed now. Thanks so much!

[2019-08-21 11:38] Qata commented on #6
@matloff Your reference of that paper does not align with that paper’s thesis. Directly from the paper: “The central thesis of this paper is that functional programming languages are ideally suited for introductory computing classes, but only if the focus is on general concepts rather than the specifics of functional programming”

This actually directly refutes your conjecture. They weren’t refere

[2019-08-21 14:21] matloff commented on #6
Thanks, will look at the paper again. Norm

On Wed, Aug 21, 2019, 4:38 AM Charlotte Tortorella <notifications@github.com>
wrote:

[2019-08-21 14:47] matloff commented on #6
I've changed the phrasing now, thanks. If you still believe it is misleading, please let me know.

[2019-09-10 15:13] duplisea opened #17 "8 cylinder 3 speed should be 8 cylinder 4 speed"
excellent paper

[2019-10-23 17:45] smartinsightsfromdata opened #18 "My two cents on the discussion + the problem with reshape"
I enjoyed Prof. Matloff post, as usual fair and thought provoking.
(apologies if I take a bit of time to get to the point)

Disclaimer: I am as much as a tidyverse skeptic as prof Matloff (possibly a tidyverse basher!).

**A personal journey**
I learned R in 2013, when (thanks to the gods) the tidyverse had not emerged.
I found R a fun programming language, full of nice little time-saving idiosync

[2019-12-13 10:16] Nelson-Gon opened #20 "Tidyverse ease and the future of R"

[2020-03-27 01:46] boltomli opened #22 "Translation and promotion of the article"
The article is a good example of open discussion over education as a point of view. I have been struggling through base and tidy for most of the time.

Since there's no explicit license attached, I assume this is copyrighted material. May I translate the article to Chinese in a Fork? And perhaps promote to R & stats forum such as <https://github.com/cosname/cosx.org/issues>?

[2020-07-08 18:11] iqis commented on #20
`...and is more pythonic...`
What is being discussed here has nothing whatsoever to do with Python.
Jussayin.

[2020-07-09 00:50] Nelson-Gon commented on #20
Please feel free to open a new issue. I find it odd that you quote one sentence and that too only partially. Here's the full sentence in case you missed it:
"In terms of use, I think the tidyverse is simpler to use for a non-programmer and is more pythonic in the sense that one can easily link a function's name to what it does"
I do not understand why you had to use "jussayin" except perhaps to be

[2020-07-09 01:02] #20 closed

[2020-07-09 01:04] Nelson-Gon commented on #20
Deleted because your comment was really offensive.

[2020-10-06 17:31] matloff commented on #22
Feel free to translate; please give me a URL when you post it. Posting to COS is fine too, though the response may be negative. :-)

[2020-10-10 03:20] boltomli commented on #22
Here's the translated branch <https://github.com/boltomli/TidyverseSkeptic> :)

[2020-10-10 03:55] matloff commented on #22
Thanks very much! That was a lot of work on your part. I glanced through it, good job!

[2020-11-02 02:37] boltomli commented on #22
It's posted to COS as well, the link <https://cosx.org/2020/10/alternative-view-tidyverse-r/> (in Chinese). Thank you for the insights!

[2020-11-02 03:53] matloff commented on #22
Thanks so much! That really was a ton of work for you. I read through the first few paragraphs, and the translation is excellent.

[2021-05-24 18:30] Beliavsky opened #26 ""member" not "memner""
typo: "member" not "memner"

[2021-06-11 16:10] ReeceGoding opened #27 "Potentially misleading characterisation of R for Data Science's pipes chapter."
In the Pipes section, you claim "_There are so many variations to learn that Hadley's R for Data Science book devotes a full chapter to pipes, 3415 words_". I find this misleading. Opening that chapter, at least [the online version](https://r4ds.had.co.nz/pipes.html ), shows that most of it is spent discussing alternatives to pipes. Only [one section](https://r4ds.had.co.nz/pipes.html#other-tools-

[2021-09-02 09:56] z3tt commented on #27
I don't want to open a new issue and it kinda fits here.

It would be great to see how the author now values the new, native base R pipe. If it's a bad idea to use pipes from a programing perspective, why did the R Core team decide to copy-paste the idea?

[2021-09-03 09:58] BroVic commented on #27
@z3tt It's been a while since I read the article and frankly don't want to re-read it right now. However, I didn't come away with the impression that he was attacking the use of pipes _per se_...

[2021-09-03 11:20] z3tt commented on #27
@BroVic I can't pull it up right now but there is a statement that says that the pipe actually makes it harder to read code by adding "extra complexity" and that one can write unnested code anyway by running each step in isolation and assigning the output to an intermediate variable (https://github.com/matloff/TidyverseSkeptic). Frankly said, if this is an option for the author fine but I largely

[2021-09-03 12:36] BroVic commented on #27
@z3tt friendly gesture? I find that amusing. The native pipe was implemented as an improvement--ugly syntax aside. I also don't agree with that assessment 🙂

[2021-09-07 07:28] BroVic commented on #27
@@z3tt BTW I absolutely love your ggplot2 tutorial. Thank you!

[2021-09-16 19:13] drag05 commented on #18
@smartinsightsfromdata : The lack of updates of  `reshape2` hasn't *forced* me to choose `tidyverse`: I became an exclusive `data.table` user dropping all things "tidy".  I think `data.table` solves many `tidy` messes in one big swoop.

[2021-09-16 19:51] drag05 commented on #13
@GmanB3398
I agree with your point that the diversity argument seems a bit forced.
@DianeBeldame
I think anecdote *is* data and I don't appreciate the veiled push for twitter as being an authority.
@matloff
Beautiful article! Teachability is a valid entry point to this more insidious internal split (takeover) of `R`.

[2021-09-16 21:32] DianeBeldame commented on #13
@drag05 I don't care about what you think and I don't care if you appreciate anything I've written **or not**.

There is evidence that the R community is more diverse than others in STEM. Period.
And :
- correlation is not causality
- anecdote is not data. Period again.

Writing an essay doesn't mean armchair philosophy.

Thing is, I run an R training organisation. We've trained +2000 adults so fa

[2021-09-16 21:43] drag05 commented on #13
@DianeBeldame : Just take a deep breath ...

[2021-09-16 23:33] matloff commented on #13
Well, @DianeBeldame, I've been reassessing myself all my life. :-) I've gone from FORTRAN to C to Perl to Python to S to R, both in teaching and in my own use. Today I use/teach mainly R and Python. I've also been a huge supporter of RStudio, both the product and the RS staff, from the very beginning. Accusing someone of inability to change is a standard method of attack, but it doesn't work here,

[2021-09-17 01:04] drag05 commented on #7
@Enchufa2

Is there need for tidying and untidying? This example below could result in modeling and plotting at the same time. Data format remains unchanged:
[code]

[2021-09-17 02:33] drag05 commented on #1
I think R has more appeal to people with mathematical background due to its logic and syntax. Years ago, while being unaware of the existence of R, I found a code snippet which, upon reading, I understood almost everything it was doing. I was hooked.

My two beginner's books written in base R were authored by Dr. Mark Gardner - *Beginning R The Statistical Programming Language* and by Larry Pace -

[2021-09-17 18:16] aphalo commented on #1
In my book, "Learn R: As a Language" (published last year), I have tried to present the tidyverse as an alternative, and only after the chapters on base R. It goes against the current in this and in its depth. For me reading and rereading "Art of R programming" was the key to understanding the R language years ago. My perspective as a teacher is that of teaching R to Biology, Ecology and Agronomy

[2021-09-17 18:41] aphalo commented on #13
@DianeBeldame @matloff In my experience the teachers' view of what is difficult or not very easily is taken up by his/hers students. So, this is something to consider in this discussion. Another, more important question is this: knowing the tidyverse is a very different thing to knowing the R language. The tidyverse has become a new language or grammar built on top of R. To me someone who does not

[2021-09-17 21:23] drag05 commented on #1
@aphalo :

I write my own "helpful functions" if I can help it. I use `R` packages very cautiously and minimalistic, and if I have the chance of choosing between two solutions I'd pick the simpler, older and more troubleshootable one, and for testing I prefer `checkmate`. I wonder if I could release packages without the need for `testthat`. I haven't tried so far.

Lately I have observed a curious

[2021-09-17 21:57] drag05 commented on #10
@ljanda:
Had you had considered using the `switch()` function in your base R example it would have worked against your argument.
Better yet (and leaving the `knitr::kable()` out because is out of the scope of discussion):

[code]
No `group_by()`, no `summarize()`, no `round()`. A simple line of code that clearly states the intent and is efficient.

[2021-09-18 16:50] matloff commented on #13
Yes, my primary concern is for new learners of R.

[2021-09-18 18:57] drag05 commented on #13
@matloff

.... and as Teacher, you give them the opportunity of making an informed choice while majority of tidyverse teachers - as their stance and language used in this thread illustrate - resent it .

One could suspect an aliasing pecuniary factor here. Maybe this is one case where *causation* (sic) is correlation since base R requires fewer lessons to master.

[2022-02-17 14:26] z3tt opened #28 "tidyr and stringr are part of the tidyverse"
In your disclaimer you state that you

which are actually tidyverse packages.

Maybe something you want to fix (and changes the whole story as you are literally using the tidyverse -- and please not argue that ggplot2 was around before the tidyverse and thus should not be part of it).

[2022-04-04 10:40] JulianCollins opened #29 "Case study: delayed learning (II)"
[code]

should be

[code]

[2022-04-04 10:43] JulianCollins opened #30 "Where Are We Now, and Where Should We Be Going? typo/wrong package"
Also in 2019, RStudio stopped viewing data.table as a rival, and announced the release of dtplyr, a Tidy-syntax front end to _dplyr_.

should be:

Also in 2019, RStudio stopped viewing data.table as a rival, and announced the release of dtplyr, a Tidy-syntax front end to **data.table.**

[2022-04-04 15:13] Aariq opened #31 "Quick histograms in ggplot2"
https://github.com/matloff/TidyverseSkeptic/blob/2c813c21090f10d3e30d83d2bf0ee4cb4b6331af/README.md?plain=1#L147

For a simple, quick histogram without any tweaks I'd go with `qplot(Nile)`.  If you keep the `geom_histogram()` example in, there's a mistake.  Should be: `ggplot(dn) + geom_histogram(aes(Nile))` without the `dn` in `geom_histogram()`

[code]

![](https://i.imgur.com/PsZgHSf.png)

<sup

[2022-04-05 12:11] jonathonmellor opened #32 "Missing equivalent transformation in base R example README.md"
The dataset is loan data available in the openintro package. Here is the Tidy code to preprocess the data:

[code]

In base-R:
[code]

The tidyverse example contains a mutate on `homeownership` which needs a base-R equivalent have (I've used stringr here as in the piece it states stringr is not tidyverse).
[code]

[2022-04-07 14:01] Aariq opened #33 "Don't need map() for summarizing models"
https://github.com/matloff/TidyverseSkeptic/blob/a8ad4dd23064808c09cab7100a868fe3c5107b17/README.md?plain=1#L641

This works fine:

[code]

The problem here is not having to learn new paradigms just to do it, it's that you can't easily save intermediate steps because summarize wants the right hand side to be a vector, not a model object.

For example, the following code errors:

[code]

And to get

[2022-08-06 18:11] sda030 commented on #33
This is to me beautiful, simple and logical. Split the dataset by cyl. For each part, run the following functions: run model, extract model fit, and finally bind it all together, while preserving name of splitted variable in output. Oh, and all the output one could need.
[code]

<sup>Created on 2022-08-06 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-08-08 14:25] dmonder opened #34 "Banning the $-sign and brackets needs correcting"
I see two problems in the section titled Banning the $-sign and brackets (https://github.com/matloff/TidyverseSkeptic#case-study--tidys-banning-the--sign-and-brackets).

In the first example, you include an extra assignment in the Tidy version that is not in the base-R version. I would change the Tidy version to this:

[code]
This results in a comparable version to the base-R version.

As for the

[2022-08-12 12:54] nks1974 opened #35 "dtplyr is a dplyr frontend for data.table"
"dtplyr, a Tidy-syntax front end to dplyr" ?  ... should be data.table, right?

dtplyr provides a data.table backend for dplyr

[2022-08-13 10:27] BroVic opened #36 "The Law of Leaky Abstractions"
I was reading an old article written by Joel Spolsky, co-founder of StackOverflow and the points he raised in it reminded me of this discussion. I don't consider myself an expert in software engineering, but the views set out are what I've intuitively held. This is why I am big on new entrants learning Base R before the Tidyverse.

In fact, whenever i train people to use R, I introduce them to R G

[2022-08-14 11:31] aphalo commented on #36
Very good point! and thanks for the link. I would add that the abstractions in the 'tidyverse' packages are unstable because they are under almost constant revision, so new leaks appear regularly in them while older ones may be plugged. Previously working code can stop working because of this, so the need to understand the underlying R language and deeper layers of packages also concerns keeping o

[2022-08-26 11:24] markvanderloo opened #38 "remapping categorical variables in base and tidy"
Hi Norm,

I just read your [base-vs-tidy](https://github.com/matloff/TidyverseSkeptic/blob/master/RDesign.pdf) document. Very insightful, thank you! I'm sharing it with our internal R users.

Regarding the last section on relabeling classes. Have you considered this option?

[code]

Using named vectors as a way to map values onto each other has been an extremely useful trick for me in many cases,

[2022-08-26 11:59] danielreispereira commented on #38
I still think that the nested ifelse() calls is preferable over the `case_when() `construct. After all, that is what an average human would do on Excel: recode the levels manually with `IF()`s.

Teaching `case_when()` is suggesting that instead of sitting down and thinking for 10min one should go for the documentation of a **yet another function**.

The point is that the R-base documentation is no

[2022-08-30 09:40] BroVic commented on #38
@markvanderloo that's a very useful trick! I think we need a function in Base-R that does this efficiently.

[2022-08-30 13:33] dusadrian commented on #38
Another solution in base R:
[code]

[2022-08-30 15:15] BroVic commented on #38
This is another nice approach but I think this is so basic that we ought to have it natively in the language. Or does anyone know of such a solution? I remember trying to get this done with the `replace` function.

[2022-08-30 16:25] dusadrian commented on #38
@BroVic: that requires a question about what "base" R means: is it anything which is not using tidy, or is it the R package `base`?

I believe this is about the difference between the "normal" R language (including contributed R packages that use the normal R language), and the "tidy" R language / dialect.

It would be pointless to expect solving anything using just the `base` package: this is why

[2022-09-17 16:02] john-d-fox opened #39 "error in tapply() example"
Dear Norm,

I've enjoyed the various versions of your tidyverse critique and largely agree with it. I noticed the following error in the current version, which I don't believe has been flagged before:

Your `tapply()` example doesn't handle `NA`s consistently.

[code]

The following would be consistent with the tidyverse solution and `aggregate()`:

[code]

       5        6        7        8

[2022-09-18 15:34] dusadrian commented on #39
I planned to write almost exactly the same thing.
Although very efficient, the function `tapply()` can be quite cryptic for many users especially when splitting by more than one factor, when the split argument has to be a list.
There is an alternative in the most recent version of package [admisc](https://dusadrian.r-universe.dev/ui#package:admisc) (0.30), which I find a lot more intuitive and eas

[2022-09-18 16:20] john-d-fox commented on #39
I think the object was to do this without loading non-base-R packages. If that requirement is relaxed, there's also the `Tapply() `function in the car package, which provides a formula interface to `tapply()`.

[2022-09-18 16:48] dusadrian commented on #39
Indeed.
To me, "base R" is anything not related to the tidyverse dialect, using classic, traditional R code. The `base` package surely cannot do everything, and comparing it (alone) with the whole tidyverse is more than unfair.

[2022-09-18 17:38] john-d-fox commented on #39
It's my impression that 'base R' typically refers not just to the base package but to the R packages loaded by default at start-up or the packages in the standard R distribution.

[2022-09-18 18:57] dusadrian commented on #39
You are correct, that should be the interpretation of the 'base R'.
But even so, the tidyverse dialect is orders of magnitude bigger, so that comparing (I believe) is still unfair without contributed packages using standard R code.
If my understanding is correct, the point of the TidyverseSkeptic is to make a fair comparison between 'traditional' R and the tidyverse dialect.

[2022-10-05 13:33] justinmcgrath opened #40 "Tidyverse doesn't adhere to well-known concepts of type theory"
Much is made of `tibbles` and how they are extensions of data frames. According to type theory though, the certainly are not data frames. To be a data frame, tibbles would need to behave like data frames (see Liskov's substitution principle: https://en.wikipedia.org/wiki/Liskov_substitution_principle), but the differ. For example, subsetting is different.

This isn't a minor point. This is foundat

[2022-10-05 14:07] justinmcgrath opened #41 "Pipe in tidyverse are a different concept from pipes in other contexts."
tidyverse claims that the pipe operator is like the pipe in things like a POSIX command line: for example, `ps | grep firefox`. The idea of using a pipe in R originally stemmed from a desire to using something like a pipe in functional languages.

Piping on the command line attaches a stream, which is not the same as an object in R, between stdin and stdout of two programs, which is not the same a

[2022-10-07 04:13] justinmcgrath opened #42 "A small comment about new variables in data frames"
Some examples give this code for creating new variables in data frame:
`mtcars$hwratio <- mtcars$hp / mtcars$wt`.

The corresponding Tidy version is this:
`mtcars %>% mutate(hwratio=hp/wt) -> mtcars`.

Maybe it's not a "beginner" topic, but I think the typical base R way is this:
`mtcars = within(mtcars, hwratio <- hp/wt)`.

It's shorter than both, and certainly clearer than the Tidy version.

[2022-10-07 07:17] dusadrian commented on #42
I've always wondered why does `within()` returns a copy of the object, instead of modifying the object.
My natural expectation, when I specify something should happen "within", it to actually happen, and not bother with overwriting the object.

This should / could have been enough, IMO:
[code]

[2022-10-07 09:11] botanybay commented on #42
Within the tidyverse, I would go for the shorthand:

`mtcars %<>% mutate(hwratio=hp/wt)`

However, there is no reason to do so, because a very simple assignment in base R does the trick neatly.

However, a pipe over multiple lines may be something where I would go for a "tidy" version. I can add a single line or out-comment one, and still have linearly legible code. 🤷

[2022-10-07 09:34] BroVic commented on #42
I think, strictly speaking, tidy proponents don't even favour the `%<>%` pipe assignment. Is this operator even exported by the tidyverse packages? I don't recall it being so...

[2022-10-08 14:47] justinmcgrath commented on #42
One of the easiest ways to make a program difficult to understand is to modify an object without using an assignment operator. That is deliberately difficult in R.

[2022-10-08 15:42] dusadrian commented on #42
I agree, but really, what is the purpose of creating a new variable without overwriting the object?
If I am not grossly mistaken, overwriting the object always happens and hence it should be superfluous.

These are all equivalent, in my mind:

[code]

Note the later *does* have an assignment operator that signals (or should signal) creating a new variable.

Anyways, if such a function is clearly d

[2022-10-08 18:22] BroVic commented on #42
`transform(mtcars, hwratio = hp/wt)`?

[2022-10-08 18:26] BroVic commented on #42
`transform(mtcars, hwratio = hp/wt)`?

[2022-10-08 23:18] dusadrian commented on #42
Oh my...
Thank you @BroVic, good to see there actually is something in base R that confirms my intuition.

[2022-10-09 06:10] BroVic commented on #42
No it doesn't modify-in-place. I was just referring to the tidyverse discourse. 👍